body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.project-title{
  font-style: Arial;
  text-align: center;
  background-color: white;
}

.main-wrap {
  height: 100%;
}

.map {
  height: 92%;
}

.place-name {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}

.place-address {
  font-style: Arial;
  font-size: 14px;
  font-weight: 400;
}

.place-description {
  font-style: Arial;
  font-size: 20px;
  font-weight: 400;
}


#root {
  height: 100%;
}
