/* SideBar */

.side-nav-container {
    display:flex;
    justify-content: center;
    width: 30%;
}

.location-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width:100%;
    padding: 0;
}
