/* SideBar */

.drop-down-container {
    z-index: 999;
    position: absolute;
    top: 70px;
    margin-left: 5px;
    display: flex;
        justify-content: center;
}

.location-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width:100%;
    padding: 0;
}
